/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #1d3a68;
}

.label{
    -fx-font: 20pt Arial;
    -fx-text-fill: whitesmoke;
}

.check-box{
    -fx-font: 16pt Arial;
    -fx-text-fill: whitesmoke;
}

